<!doctype html>
<html>
<head>
    <% include ../../Components/settings.html %>
    <script src="/echarts/echarts.min.js"></script>
    <title>BUFF-涨幅预测</title>
</head>
<body>
<!-- Main container -->
<div class="page-container">
    <% include ../../Components/navigator.ejs %>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-icon">
                        <span class="fa fa-4x fa-laptop"></span>
                    </div>
                    <div class="info text-center">
                        <h4 class="text-center">BUFF-涨幅预测</h4>
                        <p>嗨, WAN！您在<%= time.toLocaleString() %>对个股——<%= stockName %>（<%= stockCode %>）的<strong>BUFF-涨幅预测</strong>分析结果已经得出——<br>
                            <strong>随着学习次数的增，模型准确率在测试集上的表现的变化情况</strong>
                            <span>
                                <a tabindex="0" class="fa fa-info-circle" style="color: black" role="button"
                                   data-toggle="popover" data-trigger="hover" title="折线图的说明"
                                   data-content="本模型采用<b>机器学习</b>，这张折线图反映了梯度下降阶段随着迭代次数的增加模型在测试集上的准确度变化。<br>如果您了解机器学习，可以通过这张图来发现模型存在的问题(过度学习，学习量不足等)，并来可以修改模型的高级特征来得到更准确的模型。<br>如果您不了解，可以暂时忽略之。"></a>
                            </span>
                            <br>
                            <strong>该个股今日各种涨跌幅情况出现的概率。</strong>
                            <span>
                                <a tabindex="0" class="fa fa-info-circle" style="color: black" role="button"
                                   data-toggle="popover" data-trigger="hover" title="饼图的说明"
                                   data-content="这是我们通过这只股票的历史信息作出的判断，您可以根据不同涨幅区间的概率合理选择买卖股票。"></a>
                            </span>
                            <br>
                            其中，测试结果取概率最大时，在测试集上的准确度为——
                        </p>
                        <h2><%= accuracy %>%
                            <span>
                                <a tabindex="0" class="fa fa-info-circle" style="color: black" role="button"
                                   data-toggle="popover" data-trigger="hover" title="准确率的解释"
                                   data-content="对于饼图中的预测，通过利用我们较为全面的数据，我们为您提供了这一模型在过往数据中测试出的准确率。<br>由于我们采用了较为稳妥的测试方法，所以即使它在测试上的准确性不高也仍然具有参考价值，<b>但是如果准确率低于35%，还是需要谨慎对待的</b>。"></a>
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="box col-md-12">
            <table class="text-left table table-bordered">
                <caption class="text-center">预测时参数<span>
                            <a tabindex="0" class="fa fa-info-circle" style="color: black" role="button"
                               data-toggle="popover" data-trigger="hover" title="回测时数据"
                               data-content="为了防止您遗忘回测时的数据以造成对结果的错误理解，我们为您提供了您使用该模型回测时相应的数据。"></a>
                        </span></caption>
                <thead>
                <tr>
                    <th>股票名称</th>
                    <th>分析时间</th>
                    <th>持仓天数</th>
                    <th>迭代次数</th>
                    <th>是否考虑市场环境</th>
                    <th>学习方式</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th><%= stockName %></th>
                    <td><%= time.toLocaleString() %></td>
                    <td><%= holdingDays %></td>
                    <td><%= iterationNum %></td>
                    <td><%= isMarket %></td>
                    <td><%= learningWay %></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" style="margin-top: 20px">
        <div id="cnn_line_chart" class="col-md-8" style="height: 500px"></div>
        <div id="cnn_pie_chart" class="col-md-4" style="height: 500px"></div>
    </div>

    <script>
        let cnn_line_chart = echarts.init(document.getElementById('cnn_line_chart'));
        let cnn_pie_chart = echarts.init(document.getElementById('cnn_pie_chart'));

        let line_y_data = [];
        let line_x_data = [];
        let pie_data = [];

        for (let i = 0; i < '<%= line_y_data.length %>'; i++) {
            line_x_data.push(i);
        }

        eval('line_y_data = <%= JSON.stringify(line_y_data) %>;');
        eval('pie_data = <%= JSON.stringify(pie_data) %>;');

        let cnn_line_option = {
            title: {
                text: '模型准确率变化趋势图',
                show: true,
                left: 'center'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                }
            },
            axisPointer: {
                link: {xAxisIndex: 'all'},
                label: {
                    backgroundColor: '#777'
                }
            },
            toolbox: {
                right: 100,
                feature: {
                    saveAsImage: {},
                    restore: {}
                }
            },
            grid: [
                {
                    top: '10%',
                    height: '75%'
                }
            ],
            xAxis: {
                name: '学习次数',
                type: 'category',
                data: line_x_data,
                splitNumber: 20
            }
            ,
            yAxis: {
                name: '准确率',
                type: 'value',
                scale: true,
                splitArea: {
                    show: false
                },
                axisLabel: {
                    formatter: '{value}'
                },
            }
            ,
            dataZoom: [
                {
                    type: 'inside',
                },
                {
                    show: true,
                    realtime: true,
                    type: 'slider'
                }
            ],
            series: {
                name: '准确率',
                type: 'line',
                data: line_y_data,
            }

        };

        let cnn_pie_option = {
            title: {
                text: '涨跌幅概率分布图',
                show: true,
                left: 'center'
            },
            legend: {
                x: 'center',
                y: 'bottom',
                data: ['小于 -10%', '-10% ~ -7.5%', '-7.5% ~ -5%', '-5% ~ -2.5%', '-2.5% ~ 0', '0 ~ 2.5%', '2.5% ~5%', '5% ~ 7.5%', '7.5% ~ 10%', '大于 10%']
            },
            tooltip: {
                trigger: 'item',
                formatter: "{b}<br/> 概率 : {d}%"
            },
            series: [
                {
                    name: '概率分布',
                    type: 'pie',
                    radius: '50%',
                    center: ['50%', '50%'],
                    data: [
                        {value: pie_data[0], name: '小于 -10%'},
                        {value: pie_data[1], name: '-10% ~ -7.5%'},
                        {value: pie_data[2], name: '-7.5% ~ -5%'},
                        {value: pie_data[3], name: '-5% ~ -2.5%'},
                        {value: pie_data[4], name: '-2.5% ~ 0'},
                        {value: pie_data[5], name: '0 ~ 2.5%'},
                        {value: pie_data[6], name: '2.5% ~5%'},
                        {value: pie_data[7], name: '5% ~ 7.5%'},
                        {value: pie_data[8], name: '7.5% ~ 10%'},
                        {value: pie_data[9], name: '大于 10%'}
                    ],
                    animationType: 'scale',
                    animationEasing: 'elasticOut',
                    animationDelay: function (idx) {
                        return Math.random() * 200;
                    }
                }
            ]
        };

        cnn_line_chart.setOption(cnn_line_option);
        cnn_pie_chart.setOption(cnn_pie_option);

        setTimeout(() => {
            window.onresize = function () {
                cnn_line_chart.resize();
                cnn_pie_chart.resize();
            }
        }, 200);
    </script>

    <!-- ScrollToTop Button -->
    <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span
                class="fa fa-chevron-up"></span></a>
    <!-- ScrollToTop Button END-->
    <script>
        $('[data-toggle="popover"]').popover({
            html: true
        });
    </script>
</div>
<!-- Main container END -->
</body>

<% include ../../Components/footer.ejs %>
</html>
