<!doctype html>
<html>
<head>
    <% include ../../Components/settings.html %>
    <script src="/echarts/echarts.min.js"></script>
    <title>BUFF-SVM</title>
</head>
<body>
<!-- Main container -->
<div class="page-container">
    <% include ../../Components/navigator.ejs %>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <% if(isUp == "1") { %>
                    <div class="box-icon">
                        <span class="fa fa-4x fa-arrow-up"></span>
                    </div>
                    <div class="info text-center">
                        <h4 class="text-center">看涨</h4>
                        <p>嗨, WAN！您在<%= time.toLocaleString() %>对个股——<%= stockName %>（<%= stockCode %>）的BUFF-SVM分析结果已经得出，预测结果为——<br><strong>今日涨</strong><br>
                            其中可信度表示在多大程度上该预测结果可信。风险系数表示在多大可能上该预测可能出现问题。
                        </p>
                    </div>
                    <% } else { %>
                    <div class="box-icon">
                        <span class="fa fa-4x fa-arrow-down"></span>
                    </div>
                    <div class="info text-center">
                        <h4 class="text-center">看跌</h4>
                        <p>嗨, WAN！您在<%= time %>对个股——<%= stockName %>（<%= stockCode %>）的BUFF-SVM分析结果已经得出，预测结果为——<br><strong>今日跌</strong><br>
                            其中可信度表示在多大程度上该预测结果可信。风险系数表示在多大可能上该预测可能出现问题。
                        </p>
                    </div>
                    <% } %>
                    <div class="box col-md-12">
                        <table class="text-left table table-bordered">
                            <caption class="text-center">预测时参数</caption>
                            <thead>
                            <tr>
                                <th>股票名称</th>
                                <th>预测时间</th>
                                <th>当日开盘价</th>
                                <th>持仓天数</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th><%= stockName %></th>
                                <td><%= time.toLocaleString() %></td>
                                <td><%= open %>元</td>
                                <td><%= holdingDays %>天</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 0px">
        <div class="box col-md-12">
            <div class="col-md-6" style="padding-right: 10px; padding-left: 40px;">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="display-1"><%= reliablity %>%</h1>
                            <div class="rating">
                                <% for(let i = 0; i < reliablity/20; i++) { %>
                                <span class="glyphicon glyphicon-star"></span>
                                <% } %>
                                <% for(let i = 0; i < 5 - reliablity/20; i++) { %>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <% } %>
                            </div>
                            <h4 class="small">可信度</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding-right: 40px; padding-left: 10px;">
                <div class="well well-sm">
                    <div class="row">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 text-center">
                                <h1 class="display-1"><%= CR %></h1>
                                <div class="rating">
                                    <% for(let i = 0; i < Math.round(CR/0.2); i++) { %>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <% } %>
                                    <% for(let i = 0; i < 5 - Math.round(CR/0.2); i++) { %>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <% } %>
                                </div>
                                <h4 class="small">风险系数</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 text-left" style="padding-right: 40px; padding-left: 40px;">
                <table class="table table-bordered">
                    <caption class="text-center">同行业中正相关度最高的个股</caption>
                    <thead>
                    <tr>
                        <th>股票名称</th>
                        <th>股票代码</th>
                        <th>相关度</th>
                        <th>预测盈利率</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th><%= relatedName %></th>
                        <td><%= relatedCode %></td>
                        <td><%= correlation %></td>
                        <td><%= profitRate %>%</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="svm_chart" class="col-md-12" style="height: 500px"></div>
        </div>
    </div>

    <script>
        let svm_chart = echarts.init(document.getElementById('svm_chart'));
        let data = [];
        eval('data = <%= JSON.stringify(data) %>;');
        let svm_option = option = {
            title: {
                text: '行业内相关股分析',
                left: 'center'
            },
            grid: {
                top: '10%',
                height: '80%',
                left: 50,
                right: 80
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                }
            },
            xAxis: {
                name: '基准股价',
                scale: true,
                type: 'value',
                axisLabel : {
                    formatter: '{value} 元'
                },
                splitLine: {
                    lineStyle: {
                        type: 'dashed'
                    }
                },
            },
            yAxis: {
                name: '比较股价',
                scale: true,
                type: 'value',
                axisLabel : {
                    formatter: '{value} 元'
                },
                splitLine: {
                    lineStyle: {
                        type: 'dashed'
                    }
                },
            },
            series: {
                name: '散点',
                type: 'scatter',

                data: data
            }
        };

        svm_chart.setOption(svm_option);

        setTimeout(() => {
            window.onresize = function () {
                svm_chart.resize();
            }
        }, 200);
    </script>

    <!-- ScrollToTop Button -->
    <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span
                class="fa fa-chevron-up"></span></a>
    <!-- ScrollToTop Button END-->

</div>
<!-- Main container END -->
</body>

<% include ../../Components/footer.ejs %>
</html>
