<!doctype html>
<html>
<head>
    <% include ../Components/settings.html %>
    <link rel="stylesheet" type="text/css" href="/css/Message.css">
    <title>BUFF-我的消息</title>
</head>
<body>
<!-- Main container -->
<div class="page-container">
    <% include ../Components/navigator.ejs %>
    <div class="bloc bgc-white">

        <div class="bloc bgc-white container">
            <div class="col-md-12">
                <h1 class="content-title text-center">我的消息</h1>

                <ul class="mail-list">
                    <% unreadMsg.forEach(function (msg) { %>
                    <% if(msg.type == 'SVM') { %>
                    <li>
                        <a class="unread" href="/user/<%= username %>/msg-result/svm?time=<%= msg.time %>"
                           target="_blank">
                            <span class="mail-sender">相关性分析——<%= msg.stockName %></span>
                            <span class="mail-subject"><%= msg.time %></span>
                            <span class="mail-message-preview">嗨，<%= username %>！您在<%= msg.time %>对<%= msg.stockName %>
                                （<%= msg.codeOrName %>）进行的相关性分析分析结果已经得出。<br>
                            点击查看结果...</span>
                        </a>
                    </li>
                    <% } else if(msg.type == 'CNN') { %>
                    <li>
                        <a class="unread" href="/user/<%= username %>/msg-result/cnn?time=<%= msg.time %>"
                           target="_blank">
                            <span class="mail-sender">涨幅预测——<%= msg.stockName %></span>
                            <span class="mail-subject"><%= msg.time %></span>
                            <span class="mail-message-preview">嗨，<%= username %>！您在<%= msg.time %>对<%= msg.stockName %>
                                （<%= msg.codeOrName %>）进行的涨幅预测分析结果已经得出。<br>
                            点击查看结果...</span>
                        </a>
                    </li>
                    <% } else if((msg.type == 'RFC')) { %>
                    <li>
                        <a class="unread" href="/user/<%= username %>/msg-result/rfc?time=<%= msg.time %>"
                           target="_blank">
                            <span class="mail-sender">特征分析——<%= msg.stockName %></span>
                            <span class="mail-subject"><%= msg.time %></span>
                            <span class="mail-message-preview">嗨，<%= username %>！您在<%= msg.time %>对<%= msg.stockName %>
                                （<%= msg.codeOrName %>）进行的特征分析分析结果已经得出。<br>
                            点击查看结果...</span>
                        </a>
                    </li>
                    <% } else if((msg.type == 'thumbs_up')) { %>
                    <li>
                        <a class="unread"
                           href="/single-stock?stockCode=<%= msg.codeOrName %>&stockName=<%= msg.stockName %>"
                           target="_blank">
                            <span class="mail-sender">点赞消息</span>
                            <span class="mail-subject"><%= msg.time %></span>
                            <span class="mail-message-preview">嗨，<%= username %>！有人在<%= msg.time %>
                                给您在<%= msg.stockName %>
                                （<%= msg.codeOrName %>）点了赞。<br>
                            点击查看结果...</span>
                        </a>
                    </li>
                    <% } else if (msg.type == 'thumbs_down') { %>
                    <li>
                        <a class="unread"
                           href="/single-stock?stockCode=<%= msg.codeOrName %>&stockName=<%= msg.stockName %>"
                           target="_blank">
                            <span class="mail-sender">点踩消息</span>
                            <span class="mail-subject"><%= msg.time %></span>
                            <span class="mail-message-preview">嗨，<%= username %>！有人在<%= msg.time %>
                                给您在<%= msg.stockName %>
                                （<%= msg.codeOrName %>）下的评论点了踩。<br>
                            点击查看结果...</span>
                        </a>
                    </li>
                    <% } else if (msg.type == 'error') { %>
                    <li>
                        <a class="unread" href="#">
                            <span class="mail-sender">错误</span>
                            <span class="mail-subject"><%= msg.time %></span>
                            <span class="mail-message-preview"><%= msg.codeOrName %>
                                <br>点击将其设为已读...</span>
                        </a>
                    </li>
                    <% } %>
                    <% }) %>

                    <% readMsg.forEach(function (msg) { %>
                    <% if(msg.type == 'SVM') { %>
                    <li>
                        <a href="/user/<%= username %>/msg-result/svm?time=<%= msg.time %>" target="_blank">
                            <span class="mail-sender">相关性分析——<%= msg.stockName %></span>
                            <span class="mail-subject"><%= msg.time %></span>
                            <span class="mail-message-preview">嗨，<%= username %>！您在<%= msg.time %>对<%= msg.stockName %>
                                （<%= msg.codeOrName %>）进行的相关性分析分析结果已经得出。<br>
                            点击查看结果...</span>
                        </a>
                    </li>
                    <% } else if (msg.type == 'CNN') { %>
                    <li>
                        <a href="/user/<%= username %>/msg-result/cnn?time=<%= msg.time %>" target="_blank">
                            <span class="mail-sender">涨幅预测——<%= msg.stockName %></span>
                            <span class="mail-subject"><%= msg.time %></span>
                            <span class="mail-message-preview">嗨，<%= username %>！您在<%= msg.time %>对<%= msg.stockName %>
                                （<%= msg.codeOrName %>）进行的涨幅预测分析结果已经得出。<br>
                            点击查看结果...</span>
                        </a>
                    </li>
                    <% } else if (msg.type == 'RFC') { %>
                    <li>
                        <a href="/user/<%= username %>/msg-result/rfc?time=<%= msg.time %>" target="_blank">
                            <span class="mail-sender">特征分析——<%= msg.stockName %></span>
                            <span class="mail-subject"><%= msg.time %></span>
                            <span class="mail-message-preview">嗨，<%= username %>！您在<%= msg.time %>对<%= msg.stockName %>
                                （<%= msg.codeOrName %>）进行的特征分析结果已经得出。<br>
                            点击查看结果...</span>
                        </a>
                    </li>
                    <% } else if(msg.type == 'thumbs_up') { %>
                    <li>
                        <a href="/single-stock?stockCode=<%= msg.codeOrName %>&stockName=<%= msg.stockName %>"
                           target="_blank">
                            <span class="mail-sender">点赞消息</span>
                            <span class="mail-subject"><%= msg.time %></span>
                            <span class="mail-message-preview">嗨，<%= username %>！有人在<%= msg.time %>
                                给您在<%= msg.stockName %>
                                （<%= msg.codeOrName %>）点了赞。<br>
                            点击查看结果...</span>
                        </a>
                    </li>
                    <% } else if (msg.type == 'thumbs_down') { %>
                    <li>
                        <a href="/single-stock?stockCode=<%= msg.codeOrName %>&stockName=<%= msg.stockName %>"
                           target="_blank">
                            <span class="mail-sender">点踩消息</span>
                            <span class="mail-subject"><%= msg.time %></span>
                            <span class="mail-message-preview">嗨，<%= username %>！有人在<%= msg.time %>
                                给您在<%= msg.stockName %>
                                （<%= msg.codeOrName %>）下的评论点了踩。<br>
                            点击查看结果...</span>
                        </a>
                    </li>
                    <% } else if (msg.type == 'error') { %>
                    <li>
                        <a href="#">
                            <span class="mail-sender">错误</span>
                            <span class="mail-subject"><%= msg.time %></span>
                            <span class="mail-message-preview"><%= msg.codeOrName %>
                                <br>点击将其设为已读...</span>
                        </a>
                    </li>
                    <% } %>
                    <% }) %>
                </ul>
            </div>
        </div>

        <!-- ScrollToTop Button -->
        <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span
                    class="fa fa-chevron-up"></span></a>
        <!-- ScrollToTop Button END-->

        <script>
            if ($('.mail-list')[0].children.length === 0) {
                $('h1').hide();
                $('.content-title').after('<div class="text-center"><div class="row"> <div> <img src="/img/question.png" class="img-responsive img-circle nav-center center-block" style="height: 120px;"/> </div><div class="col-md-12"><h3 class="statement-bloc-text text-center">"您的消息空空如也，快去个股做一些专属分析吧！" </h3></div></div></div>');
            }

            $('.mail-list > li > a').click(function (e) {
                e.preventDefault();
                $(this).removeClass('unread');
                $.post("/user/<%= username %>/markAsRead", {time: $(this)[0].children[1].innerHTML}, (result) => {
                    if (result === 'ERROR')
                        $('#scrollTop').before('<div id="bottom-alert" class="text-center alert alert-dismissible alert-danger fade in navbar-fixed-bottom" style="bottom: -20px;" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><spanaria-hidden="true">&times;</span></button><strong>服务器忙，请稍后再试！</strong></div>');
                    else if (result === 'SUCCESS' && $(this).attr('href') !== '#')
                        window.open(($(this).attr('href')), '_self');
                    else
                        window.location.reload();
                });
            });
        </script>
    </div>
</div>
<!-- Main container END -->
</body>

<% include ../Components/footer.ejs %>
</html>
